<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wy"
    android:versionCode="1"
    android:versionName="1.0.0">

    <!-- 权限读取 -->
    <!-- gps定位权限,精准,但是耗电,在有遮挡物的地方信号不好 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 手机基站定位,误差较大,在有遮挡物的地方仍可使用 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 监听电话的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 发送短信,短信过长的时候需要进行截取分段 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 允许访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--访问网络状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读通讯录的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写通讯录的权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 刻录的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 使用文件系统权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 使用sd卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--发送粘性广播的权限-->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <!--自定义一个权限,主要是广播接收的时候定义个一个权限-->
    <permission android:name="com.custom.this.privilege" />
    <!--使用自定义的权限,或者是两个不同的应用中,一个申明自定义的权限,一个使用-->
    <uses-permission android:name="com.custom.this.privilege" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".eventbus.ExEventBusPost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.ExClick" />
        <activity android:name=".base.ExEvent" />
        <!-- 广播注册 -->
        <receiver android:name=".base.ExBroadReceive" />
        <!-- content资源认证注册,name表示文件路劲,anthorities认证的唯一标识,紧接在content://之后 -->
        <provider
            android:name=".sqllite.Sqllite"
            android:authorities="com.wy.sqllite.provider" />

        <activity android:name=".base.ExNotification" />
        <activity
            android:name=".base.ExGMap"
            android:label="@string/title_activity_ex_gmap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sqllite.ExSql" />
        <!-- 服务注册 -->
        <service android:name=".base.ExService">
            <intent-filter>
                <action android:name="com.wy.service.ExService" />
            </intent-filter>
        </service>

        <activity android:name=".base.ExThread" />
        <activity android:name=".base.CustomAdapter" />
        <activity android:name=".sqllite.ExObserver" />
        <activity android:name=".base.ExChange" />
        <activity android:name=".base.ExSurface" />
        <activity android:name=".base.ExGestrue" />
        <activity android:name=".custom.CusLinearlayout" />
        <activity android:name=".custom.CusTagHost" />
        <activity android:name=".eventbus.ExEventBusRegister" />
        <activity android:name=".base.ExBroadSend" />

        <!--注册广播接收器-->
        <receiver android:name=".base.ExBroadReceive">
            <!--优先级-1000到1000-->
            <intent-filter android:priority="100">
                <!--注册接收广播的标识-->
                <action android:name="com.wy.base.ExBroadReceiver"/>
            </intent-filter>
        </receiver>

        <!--检查网络变化的广播接收者-->
        <receiver
            android:name=".base.ExNetWork"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>