<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wy">
    <!-- 权限读取 -->
    <!-- gps定位权限,精准,但是耗电,在有遮挡物的地方信号不好 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 手机基站定位,误差较大,在有遮挡物的地方仍可使用 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".base.Media">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.ExClick" />
        <activity android:name=".base.ExEvent" />
        <!-- 广播注册 -->
        <receiver android:name=".base.ExBroadReceive" />
        <!-- content资源认证注册,name表示文件路劲,anthorities认证的唯一标识,紧接在content://之后 -->
        <provider
            android:name=".sqllite.Sqllite"
            android:authorities="com.wy.sqllite.provider" />

        <activity android:name=".base.ExNotification" />
        <activity
            android:name=".base.ExGMap"
            android:label="@string/title_activity_ex_gmap"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>